@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url('../public/pg.jpg');
  -webkit-user-select: none;
  user-select: none;
  background-color: white;
}

a div.demo-card {
  width: 80vw;
  margin: 20px auto;
  padding: 16px;
}

#enter-ar-info {
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.maveli-heading {
  color: rgb(233, 233, 73);
  font-size: 28px;
  text-align: center;
  /* background: rgba(36, 36, 36, 0.079); */
  /* background-clip: border-box;
  font-weight: 900;
  background: -webkit-linear-gradient(#57129d, #a80993);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.bx-chevron-right {
  font-size: 30px;
}

.logo-image {
  width: 100px;
}



.bottom-maveli-image {
  position: absolute;
  bottom: -60px;
  width: 500px;
  left: 80px;
}

.pookkalam-image {
  position: absolute;
  width: 150px;
  top: 42%;
}

.heading-and-button {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-height: 40vh;
  background-color: rgb(245, 54, 70);
  margin: 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.289);
  border: 2px solid white;

}

.bottom-maveli {
  width: 100%;
  height: 50vh;
  background-position: center;
}

.enter-ar-btn {
  color: rgb(0, 0, 0);
  font-weight: 600;
  border-radius: 15px;
  padding: 10px 40px;
  border: none;
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(234, 255, 0), rgb(119, 176, 6));
}

body.unsupported #enter-ar-info {
  display: none;
}

body.ar #enter-ar-info {
  display: none;
}

#unsupported-info {
  display: none;
  width: auto;
  margin: 50px;
  padding: 20px;
  background-color: white;
}

body.unsupported #unsupported-info {
  display: block;
}

#info {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  margin: 1em 1em 2em 1em;
  z-index: 10;
  display: block;
  line-height: 2em;
  text-align: center;
  display: none;
  width: 100%;
}

body.ar #info {
  display: block;
}

#info * {
  color: #fff;
}

#info span {
  background-color: rgba(40, 40, 40, 0.4);
  padding: 0.4em 0.6em;
  width: 80vw;
  border-radius: 0.1em;
}

#stabilization {
  background-image: url("../public/stabilization.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 10;
  display: none;
}

body.ar #stabilization {
  display: block;
}

body.ar.stabilized #stabilization {
  display: none;
}

#wrong-hosting-root {
  display: none;
}

#capture-container {
  min-width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  display: none;
}

#capture-button {
  padding: 15px;
  border-radius: 50%;
  border: 1px dashed black;
}

/* #camera-icon {} */

.bxs-camera {
  font-size: 30px;
}

#prompt {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  /* margin: 100px; */
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.793);
  align-items: center;
}